* {
    padding: 0;
    margin: 13px 0 0 2px;
    box-sizing: border-box;
}

.section {
    text-align: justify;
}

.sub_section {
    margin-left: 2%;
    text-align: justify;
}

h2 {
    margin: left;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
}

.issubsection {
    list-style-type: none;
    margin-left: 2.5%;
}