* {
    padding: 0;
    margin: 0;
    margin-left: 3px;
    box-sizing: border-box;
}

.heading1 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

ul {
    margin-left: 40px;
    list-style-type: none;
}

.heading1 img {
    margin-left: 15%;
}

.isheading1 {
    margin-right: 15%;
}
