* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255,255,240);
}

#main {
    height: 600px;
    width: 630px;
    background-color: #DDFFEE;
    margin-left: 20%;
    margin-top: 10px;
}

.ismain {
    width: 450px;
	line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.ismain input {
    margin-top: 10px;
    width: 380px;
	outline: none;
	background-color: #ffffdd;
	border-color: #a6a9a9;
}

.Help {
    background-color: #DDFFEE;
    margin-left: 10px;
    margin-top: 20px;
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    cursor: help;
    height: 37px;
    color: #1e23b8;
}

.nav {
    justify-content: space-between;
    display: flex;
}

.Close {
    margin-top: 5%;
    margin-left: 90%;
    color: blue;
    cursor: hand;
}

.HelpBlock {
    position: absolute;
    height: 420px;
    width: 500px;
    background-color: #cfc ;
    border:2px solid #e4e7e7;
    color: #303030;
    margin-left: 500px;
    display: none;
    padding: 10px;
}

li {
	list-style-type: square;
	position: inside;
}
.Close {
	color: #202af7;
	margin-left: 700px;
}

.HelpBlock h2 {
	margin-left: 20px;
}

ul {
	padding-left: 80px;
	padding-right: 30px;
}

.Close:hover {
	cursor: pointer;
}

.butmain a button {

}

.butmain a {
    text-decoration: none;
}

.butmain a button:hover {
    cursor: pointer;
}

.butmain textarea {
    margin-left: 70px;
    margin-top: 10px;
    background-color: #ffffdd;
}

.isbutmain {
    text-align: left;
    margin-left: 70px;
}

.tablemain {

}
